{% extends "base.html" %}
{% block author %}Robert W. Pearce{% endblock author %}
{% block description %}News and updates about Ramda Guide{% endblock description %}
{% block keywords %}ramda, ramda guide, javascript, rss, atom, feed, news, functional programming{% endblock description %}
{% block site %}Ramda Guide{% endblock site %}
{% block title %}Ramda Guide - News{% endblock title %}
{% block twitter_author %}RobertWPearce{% endblock description %}
{% block type %}website{% endblock type %}
{% block url %}https://ramda.guide/news/index.html{% endblock url %}
{% block content %}
<nav class="m120ch-mla m120ch-mra ml20 mr20 mw68ch">
  <ul class="df lsn p0" role="list">
    <li role="listitem">
      <a href="../index.html">Home</a>
    </li>
    <li role="listitem">
      <a class="ml20" href="../book/index.html">The Book</a>
    </li>
    <li role="listitem">
      <a aria-current="page" class="ml20" href="./index.html">
        News
      </a>
    </li>
  </ul>
</nav>
<main class="m120ch-mla m120ch-mra ml20 mr20 mw68ch">
  <h1 class="fs60 lh11 mb32 mt48">Ramda Guide - News</h1>
  <section>
    <h2 class="fs32 lh13 mb32 mt48">Posts</h2>
    <ul>
      {% for post in posts | sort(attribute="data.published_at") | reverse %}
      <li>
        <a href="./{{post.data.slug}}.html">
          {{post.data.published_at | date(format="%Y-%m-%d")}} - {{post.data.title}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock content %}
