:root {
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  min-height: 100vh;
}
body {
  --od-black: #282c34;
  --od-blue: #61afef;
  --od-cyan: #56b6c2;
  --od-green: #98c379;
  --od-grey-comment: #5c6370;
  --od-grey-gutter: #4b5263;
  --od-magenta: #c678dd;
  --od-offwhite: #abb2bf;
  --od-red-dark: #be5046;
  --od-red-light: #e06c75;
  --od-white: #fff;
  --od-yellow-dark: #d19a66;
  --od-yellow-light: #e5c07b;

  scroll-behavior: smooth;
  font-kerning: normal;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
body.dark {
}
body.light {
  --a-c: #046b99;
  --a-c-a: #111819;
  --a-c-h: #00547a;
  --a-c-v: #54278f;
  --a-o-f-bc: #2491ff;
  --btn-bgc: #2491ff;
  --btn-c: #fff;
  --ipt-t-bc: #282c34;

  background-color: #fff;
  color: #282c34;
}
.a:not(.btn) { color: var(--a-c); }
.a:not(.btn):active { color: var(--a-c-a); }
.a:not(.btn):hover { color: var(--a-c-h); }
.a:not(.btn):visited { color: var(--a-c-v); }
.an { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.bn { border: none; }
.btn { background-color: var(--btn-bgc); color: var(--btn-c); }
.br0 { border-radius: 0; }
.cp { cursor: pointer; }
.db { display: block; }
.df { display: flex; }
.di { display: inline; }
.f1-1-auto { flex: 1 1 auto; }
.f100-1-auto { flex: 100 1 auto; }
.fdc { flex-direction: column; }
.fi { font: inherit; }
.fo:focus { outline: 0.36rem solid var(--a-o-f-bc); }
.foo0:focus { outline-offset: 0; }
.foo4:focus { outline-offset: 4px; }
.fs { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.fs14 { font-size: 1.4rem; }
.fs18 { font-size: 1.8rem; }
.fs32 { font-size: 3.2rem; }
.fs60 { font-size: 6rem; }
.fwb { font-weight: bold; }
.ha { -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }
.ipt-t { border: 1px solid var(--ipt-t-bc); }
.lh11 { line-height: 1.1; }
.lh13 { line-height: 1.3; }
.lh15 { line-height: 1.5; }
.lhi { line-height: inherit; }
.lsn { list-style: none; }
.m0 { margin: 0; }
.mb10 { margin-bottom: 1rem; }
.mb24 { margin-bottom: 2.4rem; }
.mb32 { margin-bottom: 3.2rem; }
.ml20 { margin-left: 2rem; }
.mr20 { margin-right: 2rem; }
.mt48 { margin-top: 4.8rem; }
.mt5 { margin-top: 0.5rem; }
.mw68ch { max-width: 68ch; }
.p0 { padding: 0; }
.p12 { padding: 1.2rem; }
.tac { text-align: center; }
.tdn { text-decoration: none; }
.wrbw { word-wrap: break-word; }
@media (min-width: 68ch) {
  .m68ch-fdr { flex-direction: row; }
  .m68ch-mb0 { margin-bottom: 0; }
  .m68ch-mr10 { margin-right: 1rem; }
}
@media (min-width: 120ch) {
  .m120ch-mla { margin-left: auto; }
  .m120ch-mra { margin-right: auto; }
}
