:root {
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  min-height: 100vh;
}
body {
  font-kerning: normal;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-feature-settings: "kern", "liga", "clig", "calt";
  scroll-behavior: smooth;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
}
body.light {
  --a-c: #046b99;
  --a-c-a: #111819;
  --a-c-h: #00547a;
  --a-c-v: #54278f;
  --a-o-f-bc: #2491ff;

  background-color: #fff;
  color: #201d2c;
}
.a { color: var(--a-c); }
.a:visited { color: var(--a-c-v); }
.a:active { color: var(--a-c-a); }
.a:focus { outline: 0.36rem solid var(--a-o-f-bc); outline-offset: 0; }
.a:hover { color: var(--a-c-h); }
.bsu { box-shadow: 0 0.1rem 0 0 currentColor; }
.di { display: inline; }
.fi { font: inherit; }
.fs { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.fs14 { font-size: 1.4rem; }
.fs18 { font-size: 1.8rem; }
.fs24 { font-size: 2.4rem; }
.fs32 { font-size: 3.2rem; }
.fs40 { font-size: 4rem; }
.fsi { font-style: italic; }
.ha { hyphens: auto; }
.lh11 { line-height: 1.1; }
.lh14 { line-height: 1.4; }
.lsn { list-style: none; }
.m0 { margin: 0; }
.mb24 { margin-bottom: 2.4rem; }
.ml20 { margin-left: 2rem; }
.mr20 { margin-right: 2rem; }
.mw120ch { max-width: 120ch; }
.p0 { padding: 0; }
.tdn { text-decoration: none; }
.wrbw { word-wrap: break-word; }
@media (min-width: 120ch) {
  .m880-mla { margin-left: auto; }
  .m880-mra { margin-right: auto; }
}
