<nav>
  <ul>
    <li>
      <a href="../index.html">Home</a>
    </li>
    <li>
      <a href="../book/index.html">The Book</a>
    </li>
  </ul>
</nav>

<h1>Ramda Guide - News</h1>
<ul>
  {{#each this as |post|}}
  <li>
    <a href="./{{post.data.slug}}.html">{{post.data.title}}</a>
  </li>
  {{/each}}
</ul>
