<nav>
  <ul>
    <li>
      <a href="../index.html">Home</a>
    </li>
    <li>
      <a href="../book/index.html">The Book</a>
    </li>
    <li>
      <a href="./index.html">News</a>
    </li>
  </ul>
</nav>

{{{ content_html }}}
